.Twist-Buttons {

  display:inline-block;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 2%;

}

.Twist-Buttons:hover {

  background-color:#4095c6;
  color: rgb(197, 211, 228);

}
